
@font-face {
  font-family: 'BNPP Sans';
  src: url('assets/fonts/bnpp-sans-bold.ttf');
}

html, body {
    background: #222;
    height: 100%;
    margin: 0;
}

button {
    border: 1px solid #888;
    padding: 2px 5px;
    background: transparent;
    color: #aaa;
    cursor: pointer;
}

.campaigns-list {
    display: grid;
    list-style: none;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 2rem;

    li {
        border: 1px solid #555;
        cursor: pointer;
    }

    h4 {
        color: #aaa;
        font-family: georgia;
        font-weight: 600;
        text-align: center;
    }

    img {
        width: 327px;
    }
}

.placeholder {
    display: flex;
    align-items: center;
    justify-content: center;
}

.draw-area {
    padding-top: 1rem;
    display: flex; 
    justify-content: center;
}

img {
    display: block;
}

.image-source img {
    max-width: calc(100vw / 3);
}

.controls {
    list-style: none;
    padding: 1rem;
    margin: 0;
    text-align: center;

    li {
        display: inline-block;
        margin-right: .5rem;
    }
}

.with-grid-marks {
    position: relative;

    &:before {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        content: '';
        background: repeating-linear-gradient(
            to right,
            red,
            red 1px,
            rgba(0, 0, 0, 0) 0,
            rgba(0, 0, 0, 0) 33.33%
        );
        z-index: 9;
    }

    &:after {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        content: '';
        background: repeating-linear-gradient(
            to bottom,
            red,
            red 1px,
            rgba(0, 0, 0, 0) 0,
            rgba(0, 0, 0, 0) 33.33%
        );
        z-index: 9;
    }
}